@import './variables.scss';

.checkout {
  max-width: 400px;
  margin: 20px auto;
  padding: $padding;
  border: 1px solid $text-color;
  border-radius: $border-radius;
  background-color: white;

  input {
    width: 100%;
    margin-bottom: 10px;
  }

  button {
    width: 100%;
    margin-top: 10px;
  }
}